h1, h2, h3, h4, h5, h6, p {
    font-family: "Libre Franklin";
    font-weight: 100 !important;
}

body {
    font-family: "Libre Franklin" !important;
    /* background-color: whitesmoke !important; */
}

.nav-item {
    width: 100px;
}

.nav-item a {
    color: whitesmoke !important;
}

.nav-item a:hover {
    color: rgba(245, 245, 245, 0.885) !important;
    font-weight: 200;
}
.dropdown-item {
    color: rgb(37, 90, 109) !important;
}

.navbar-custom {
    background-color: rgb(37, 90, 109) !important;
}

#searchBtn {
    border-color:whitesmoke;
    color: whitesmoke
}
#searchBtn:hover {
    background-color: rgb(92, 135, 150);
    color: whitesmoke
}

.container {
    margin: 10px;
    padding:10px;
    background-color: whitesmoke;
}
/* a {
    color: rgb(47, 79, 50) !important;
} */

#cellar-div {
    display:flex;
}

#cellar-filters {
    margin: 10px;
    padding: 10px;


}

.card-columns {
    column-count: 5 !important;
}


.filter-items select {
    width: 100%;
    min-width: 175px;
    background-color: white !important;
    border-radius: 5px;
    margin: 5px !important;
    padding: 4px;

}


button {
    padding: 5px;
    margin: 5px;
    background-color: #d7e5ef;
    border-radius: 5px !important;
    border: 1px solid #0a2436;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus {
    background-color: #1d4866;
    color: whitesmoke;
}

#notes-grid .card-columns {
    column-count: 3 !important;
}

/* .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

.card {
    height: 400px;
    padding-top: 5px;
    border-radius: 10px !important;
}

.card img {
    border-radius: 10px !important;

}

.card-title {
    font-size: medium;
}
.card-subtitle{
    font-size: small;
}

.error {
    color: red;
    font-weight: bold;
}

.modal {
    display: flex !important;
    position: fixed !important;
    z-index: 1 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    z-index: 100;
    padding: 20px;
    border-radius: 4px;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#celar-filters select {
    display: block;
    align-items: stretch;
    justify-content: stretch;
}