.title-font {
    font-family: "Grey Qo", cursive;
    font-size: 60px !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Libre Franklin";
    font-weight: 100 !important;
}

body {
    font-family: "Libre Franklin" !important;
    margin: 10px;
    padding: 10px;
}

.background-img { 
    margin: 20px;
    background-image: url("/static/imgs/bkg.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    z-index: -2;
    /* opacity: 0.5; */

}

.container {
    margin: 10px;
    padding: 10px;
    background-color: #F2B749;
}

/* NAVBAR */


.nav-item {
    width: 100px;
}

.nav-item a {
    color: whitesmoke !important;
}

.nav-item a:hover {
    color: rgba(245, 245, 245, 0.885) !important;
    font-weight: 200;
}
.dropdown-menu a {
    color: darkslategrey !important;
    width: 110px;
}
.dropdown-menu a:hover, select {
    color: darkslategrey !important;
    background-color: white !important;
}


.navbar-custom {
    background-color: #D66562 !important;
}

#searchBtn {
    border-color:whitesmoke;
    color: whitesmoke
}
#searchBtn:hover, select {
    background-color: #E393BA;
    color: whitesmoke;
    outline: none !important;
}


/* BUTTONS */
button {
    padding: 5px 15px;
    margin: 5px;
    background-color: #F2B749;
    border-radius: 5px !important;
    border: 1px solid rgb(233, 240, 237);
    /* text-shadow: 1px 1px 2px #320A59; */
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus {
    background-color: #320A59;
    color: whitesmoke;
}


/* CARDS */

.card-columns {
    column-count: 5 !important;
}

#notes-grid .card-columns {
    column-count: 4 !important;
}

.card a:hover {
    text-decoration: none;

}
.card {
    overflow: hidden;
    height: 515px;
    padding: 3px;
    padding-top: 5px;
    border-radius: 10px !important;
    border-color: #F2B749 !important;
    border-width: 2px;
    background-color: whitesmoke !important;
}

#notes-grid .card {
    overflow: hidden;
    height: 400px;
 
}

.card:hover{
    border-width: 3px;
    transition: border-width 0.3s
}   

.card img {
    border-radius: 10px !important;
    border: solid;
    border-width: 2px;
    border-color: #E393BA;
}


.card-title, .card-title:hover {
    font-size: medium;
    color: rgb(10, 19, 19);

}
.card-subtitle, .card-subtitle:hover {
    font-size: small;
    color: rgb(10, 19, 19);

}

.card-header {
    background-color: #D66562 !important;
    color: white;
}



/* MODAL */

.modal {
    display: flex !important;
    position: fixed !important;
    z-index: 1 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    z-index: 10;
    padding: 30px;
    border-radius: 4px;
    width: 50% !important;
}

.close {
    color: #aaa;
    display: flex;
    align-self: end !important;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(10, 19, 19);
    text-decoration: none;
    cursor: pointer;
}


/* CELLAR: */

#cellar-div {
    display: flex;

}

#cellar-filters {
    margin: 10px;
    padding: 10px;
    background: rgb(255, 255, 255, .9);
    border: solid rgb(232, 228, 228) 1px;
    border-radius: 5px;

}

#celar-filters select {
    display: block;
    align-items: stretch;
    justify-content: stretch;

}

.filter-items select {
    width: 100%;
    min-width: 175px;
    background-color: whitesmoke !important;
    border-radius: 5px;
    border-color: #F2B749;
    /* color: #D66562 !important;  */
    margin: 5px !important;
    padding: 4px;
}

/* Vineyard */

.vineyard-list {
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
}

.vineyard-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vineyard-edit-button {
    background-color: #D66562;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

/* LOT */

.lot-info {
    display: flex; 
    flex-direction: row; 
    justify-content:space-between; 
    margin: 20px; 
    background-color:rgb(252, 251, 251, .9); 
    border:solid 1px lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#notes-grid {
    background-color: rgb(252, 251, 251, .9);
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
    /* FORMS */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-line {
    margin-bottom: 10px;
}

.form-line label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-line input,
.form-line select {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#font-weight-light {
    font-weight: light !important;
}
.form-line .radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background-color: #F2B749 !important;
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #D66562 !important;
}
.btn-pink {
    display: inline-block;
    align-self: right;
    margin: 5px;
    padding: 6px 12px;
    background-color: #D66562 !important;
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-pink:hover {
    background-color: #E393BA !important;
    text-decoration: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(237, 181, 28);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #320A59;
}

 /* LOGIN / SIGN UP */

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup{
    width: 400px; 
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px; 
    border-radius: 10px;
}



/* OTHER */


.error {
    color: red;
    font-weight: bold;
}