{% extends 'base.html' %}
{% block title %}{{ user.user_name}}{% endblock %}

{% block body %}

<h2 style="text-align: center; font-weight: 300; background-color: rgb(255, 255, 255, .8); padding:10px; border: solid 1px lightgray"> Cellar contents: </h2>
<div id="cellar-div">
    <div id="cellar-filters" >
        <h4>Filter by:</h4>
            <div id="filtered-by"></div>
            <div class="filter-items">
                <select id="varietal">
                    <option  value="varietal">Varietal</option>
                        {% for item in varietals %}
                            <option id="varietal" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                </select>
                <br>
                <select style="width:100%" id="vineyard">
                    <option  value="vineyard">Vineyard</option>
                        {% for item in vineyards %}
                            <option id="vineyard" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                </select>
                <br>
                <select id="country">
                    <option  value="country">Country</option>
                        {% for item in countries %}
                            <option id="country" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                </select>
                <br>
                <select id="region">
                    <option  value="region">Region</option>
                        {% for item in regions %}
                            <option id="region" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                </select>
                <br>
                <select id="vintage">
                    <option value="vintage">Vintage</option>
                    {% for item in vintages %}
                    <option id="vintage" value="{{ item }}">{{ item.year }}</option>
                    {% endfor %}
                </select>
                <br>
                <select id="celebration">
                    <option value="celebration">Celebration</option>
                    <option id="celebration" value="True">True</option>
                    <option id="celebration" value="False">False</option>
                </select>
            </div>
    </div>
    <div id="cellar-main">
        <div id="cellar_lots">
        {% if all_drinkable_cellar_lots %}
            <div class="card-columns">
                {% for lot in all_cellar_lots %}
                <div class="card" >
                    <a href='/lots/{{ lot.lot_id }}'>
                    <img class="card-img-top" src='{{ lot.image() }}' alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{ lot.wine_name }}</p>
                        <p class="card-subtitle">{{ lot.vineyard.name }}, {{ lot.varietal }}</p>
                        <p class="card-subtitle">{{ lot.vintage.year }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
    <span>Uh-oh - you have nothing in your cellar.<a class="nav-link" href="/add_to_cellar">Add something now!</a></span>
{% endif %}

<script src="/static/filters.js"></script>
{% endblock %}