{% extends 'base.html' %}
{% block title %}{{ user.user_name}}{% endblock %}

{% block body %}
<h3> Cellar contents: </h3>

{% if all_cellar_lots %}
    <div class="card-columns" style="width: 10rem;">
        {% for lot in all_cellar_lots %}
        <div class="card" >
            <a href='/lots/{{ lot.lot_id }}'>
            <img class="card-img-top" src='static/imgs/generic_red.png' alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ lot.wine_name }}</p>
                <p class="card-text">{{ lot.vintage.year }}</p>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>Uh-oh - you have nothing in your cellar.</p>
{% endif %}

{% endblock %}