{% extends 'base.html' %}
{% block title %}Add Bottles {% endblock %}

{% block body %}
<h1>Add bottles of {{lot.vintage.year}} {{lot.wine_name}} : </h1>
Display current aging schedule->
Display wines with none date to drink 
<ul>
{% for count_per_year in lot_aging_schedule %} 
    <li>{{count_per_year[0].year}} : {{count_per_year[1]}} </li>
{% endfor %}
</ul>

<form action="/add_bottles/{{lot.lot_id}}" method="POST">
    {% for i in range(0, bottle_qty) %}
        <li>
            Year to drink: <input type="integer" name="year" pattern="202[3-9]||20[3-9]\d"><br>
        </li>
    {% endfor %}
    <input type="submit">
</form>


{% endblock %}