{% extends 'base.html' %}
{% block title %}Add to Cellar{% endblock %}

{% block body %}
<h1>Create a tasting note for this bottle? </h1>

<form action="/create_tasting_note/{{bottle.bottle_id}}" method="POST">
    note <input type="text" name="note"><br>
    <input type="submit">
</form>

<form action="/lots/{{bottle.lot_id}}">
    <button type="submit">Skip the tasting note</button>
</form>
<form action="/undo_drink_bottle/{{bottle.bottle_id}}">
    <button type="submit">Undo drink bottle</button>
</form>

{% endblock %}