{% extends 'base.html' %}
{% block title %}{{lot.wine_name}}{% endblock %}

{% block body %}
<div class="lot-page">

    <div class="lot-info">
        <div class="lot-image">
            <img src='/{{ lot.image() }}' alt="wine image">
        </div>
        <div class="lot-details">
            <div>
                <h2>{{ lot.wine_name }}</h2>
                <h3>{{ lot.vineyard.name }} Vineyard</h3>
                <h4>{{ lot.varietal }}</h4>
                <h4>{{ lot.vintage.year }}</h4>
            </div>
            <div class="lot-actions">
                {% if count_all_bottles %}
                <form action='/drink/{{ lot.lot_id }}'>
                    <button type="submit">Drink a bottle</button>
                </form>
                {% endif %}
                <form class="add-bottles-form" action='/create_aging_schedule/{{ lot.lot_id }}'>
                    <button type="submit">Add bottles</button>
                    <label for="bottle_qty">Qty:</label>
                    <input type="number" id="bottle_qty" name="bottle_qty" min="1">
                </form>
            </div>
        </div>
        <div class="lot-aging-card">
            <div class="card">
                <div class="card-header">
                    Bottles available to drink now: {{ count_drinkable_bottles }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold">All Bottles in Cellar: {{ count_all_bottles }}</li>
                    {% for count_per_year in aging_schedule %}
                    <li class="list-group-item">Available in {{count_per_year[0].year}} : {{count_per_year[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="notes-section">
        <h3>Tasting notes:</h3>
        <div class="notes-grid">
        {% for note in all_tasting_notes %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ note.date.strftime('%b %d, %Y') }}</h5>
                    <p class="card-text">{{ note.note }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
