{% extends 'base.html' %}
{% block title %}{{lot.wine_name}}{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: column; margin: 50px;">

    <div class="lot-info">
        <div style="margin:10px; align-items:center">
            <img style="width:200px; border-radius: 10px;" src='/{{ lot.image() }}' alt="wine image ">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; margin:10px;">
            <div>
                <h2>{{ lot.wine_name}} </h2>
                <h3>{{ lot.vineyard.name }} Vineyard </h3>
                <h4>{{ lot.varietal }} </h4>
                <h4>{{ lot.vintage.year }} </h4>
            </div>
            <div style="padding-bottom: 20px;">
                {% if count_all_bottles %}
                <form style="margin:10px;" action='/drink/{{ lot.lot_id }}'>
                    <button type="submit">Drink a bottle</button>
                </form>
                {% endif %}
                <div style="margin:10px; display: flex; flex-direction: row;">
                    <form action='/create_aging_schedule/{{ lot.lot_id }}'>
                        <button type="submit">Add bottles</button>
                        Quantity: <input type="integer" name="bottle_qty">
                    </form>
                </div>
            </div>
        </div>
        <div style="margin-left:40px;">
            <div class="card" style="width: 18rem; max-height: 10rem; border:lightgray;">
                <div class="card-header">
                    Bottles available to drink now:  {{ count_drinkable_bottles }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold">All Bottles in Cellar: {{ count_all_bottles }}</li>
                    {% for count_per_year in aging_schedule %}
                    <li class="list-group-item">Available in {{count_per_year[0].year}} : {{count_per_year[1]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="notes-grid" style="margin:20px;">
        <h3>Tasting notes:</h3>
        <div class="card-columns">
        {% for note in all_tasting_notes %}
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ note.date.strftime('%b %d, %Y') }}</h5>
                <p class="card-text">{{ note.note }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}