{% if 'user' in session %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <span class="navbar-brand mx-3">{{ session['user_name'] }}'s Cellar</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
        <ul class="navbar-nav mr-15 mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/cellar">Cellar View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_to_cellar">Add New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/vineyards">View Vineyards</a>
                </div>
            </li>
        </ul>
        <form id="searchForm" class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search by name, varietal, or vineyard">
            <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg justify-content-between navbar-dark navbar-custom">
    <span class="navbar-brand mx-3">Welcome to <span class="title-font">Pourfolio</span>!</span>
</nav>
{% endif %}
