{% if 'user' in session %}
<nav class="navbar  navbar-expand-lg navbar-dark navbar-custom" style="color: whitesmoke;">
    <h2 class="mx-3">{{ session['user_name'] }}'s Cellar</h2>


    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-15 mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/cellar">Cellar View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_to_cellar">Add New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" >
                    ---
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/vineyards" >View Vineyards</a>
                </div>
            </li>
        </ul>
        <form id="searchForm" class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search Cellar">
            <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg justify-content-between navbar-dark navbar-custom">
    <h2 class="mx-3 text-white font-bold">Welcome to <span class="title-font">Pourfolio</span>!</h2>
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Try a Demo</button>
    </form>
</nav>
{% endif %}
