{% if 'user' in session %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="color: whitesmoke">
    <h2 class="mx-3">{{ session['user_name'] }}'s Cellar</h2>


    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-15 mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/cellar">Cellar View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_to_cellar">Add Lot to Cellar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    ---
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/vineyards">View Vineyards</a>
                </div>
            </li>
        </ul>
        <form id="searchForm" class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search">
            <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="mx-3">Pourfolio</h2>
</nav>
{% endif %}
