{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}

{% block body %}


<h4>Log In</h4>
<form action="/login" method="POST">
    Email <input type="text" name="email"><br>
    Password <input type="password" name="password"><br>
    <input type="submit">
</form>
<br>

<h4>Sign Up</h4>
<form action="/sign_up" method="POST">
    Username <input type="text" name="user_name"><br>
    Email <input type="text" name="email"><br>
    Password <input type="password" name="password"><br>
    <input type="submit">
</form>

{% endblock %}